.square {
  
    height: 200px;
    width: 200px;
    border: 1px solid black;
    font-size: 10rem;
    text-align: center;
  }

.board {
  display:flex;
  flex-wrap: wrap;
  width: 610px;
  margin: 0 auto;
  
}

.background {
  background-image: url(https://www.publicdomainpictures.net/pictures/270000/nahled/lion-king-1537188407Ea6.jpg);
  background-size: cover;

}

.header {
  text-align: center;
  border: 2px solid black;
  margin:auto;
}

.button {
  display: block;
  margin: auto;


}